<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id="undevouredDiv"> 
        <h2>Burgers to devour!</h2>
          <ul>
            {{#each burgers}}
              {{#unless devoured}}
                {{> burgers/burger-block devoured=false}}
              {{/unless}}
            {{/each}}
          </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div id="devouredDiv"> 
        <h2>Burgers you devoured!</h2>
          <ul>
            {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
              {{/if}}
            {{/each}}
          </ul>
      </div>
    </div>

    <div class="col-md-4">
      <div id="addBurgerDiv">
        <h2>Add a Burger</h2>
          <form action="/api/burgers" method="POST" class="create-form">

            <div class="form-group">
              <label for="burg" class="burgers">Burger Name:</label>
              <input type="text" id="burg" name="burger_name">
            </div>


            <button type="submit" class="addBurg">Add Burger</button>
          </form>
      </div>
    </div>
  </div>
</div>
